body {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}

.container-lg {
  max-width: 1900px;
  margin: 0 auto;
  padding: 0px 15px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0px 15px;
}

.container-md {
  max-width: 730px;
  margin: 0 auto;
  padding: 0px 15px;
}

.container-sml {
  max-width: 580px;
  margin: 0 auto;
  padding: 0px 15px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .flex {
    flex-wrap: wrap;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .flex {
    flex-wrap: wrap;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .flex {
    flex-wrap: wrap;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
#gform_submit_button_1, .blue a {
  background-color: #35444f;
  padding: 20px 60px;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
}
#gform_submit_button_1:hover, .blue a:hover {
  background-color: #fff;
  color: #2f75bb;
  transition: 0.4s;
}

h1 {
  font-size: 60px;
  color: #fff;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  color: #fff;
  font-weight: 700;
}

h3 {
  color: #fff;
  font-size: 22px;
}

p {
  color: #fff;
  font-size: 18px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 35px;
  }
}
header {
  top: 0px;
  z-index: 100000;
  width: 100%;
  transition: top 0.2s ease-in-out;
}
header .nav-logo {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 90px;
}

.nav ul {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  list-style-type: none;
  font-style: normal;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}
.nav ul li {
  padding: 7px 15px;
  cursor: pointer;
  margin-top: 15px;
}
.nav ul a {
  text-decoration: none;
  color: #35444f;
}
.nav ul a:hover {
  transition: 0.4s;
  color: #2f75bb;
}

/* Style the menu link */
.js .nav .skip {
  color: #fff;
  position: absolute;
  right: 1px;
  top: 30px;
  overflow: hidden;
  width: 50px;
}
.js .nav .skip:hover {
  transition: 0.4s;
}
.js .nav .skip img {
  height: 20px;
}

/* Hide and position the closed .nav ul */
.js .nav ul {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  right: 1em;
  top: 50px;
  transition: max-height 1s ease-out;
}

/* Style the list items to appear under the menu link */
.js nav li {
  padding: 10px 7px;
  margin: 0;
  background-color: #fff;
}

/* Style the list item links for ease of touch on small screens */
.js nav li a {
  padding: 5px 20px;
  display: block;
}

.js nav li span {
  display: block;
}

/* Give the .nav ul a height when it's been opened, i.e. make it show */
.js .nav ul.open {
  max-height: 70em;
}

/* On screens larger than 1200px, remove the menu link and display all menu items */
@media screen and (min-width: 1200px) {
  .js .nav ul {
    width: 100%;
    overflow: auto;
    max-height: inherit;
    position: static;
    display: flex;
    justify-content: flex-start;
  }

  .js .nav li {
    text-align: left;
    display: inline-block;
    border-top: 0;
  }

  .js .nav li:last-child {
    border: 0;
  }

  .js .nav .skip {
    display: none;
    visibility: hidden;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  header .nav-logo {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
  }

  .js .nav ul {
    right: 0px;
    width: 100%;
    margin-top: 0;
  }

  .js nav li {
    text-align: right;
    margin-top: 0;
  }

  .js nav li a {
    padding: 10px 10px;
    display: block;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .js .nav ul {
    right: 0px;
    width: 100%;
    margin-top: 25px;
  }

  .js nav li {
    text-align: right;
    margin-top: 0;
  }

  .js nav li a {
    padding: 10px 10px;
    display: block;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .js .nav ul {
    right: 0px;
    width: 100%;
    margin-top: 25px;
  }

  .js nav li {
    text-align: right;
    margin-top: 0;
  }

  .js nav li a {
    padding: 10px 10px;
    display: block;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .js .nav ul {
    right: 0px;
    width: 100%;
    margin-top: 25px;
  }

  .js nav li {
    text-align: right;
    margin-top: 0;
  }

  .js nav li a {
    padding: 10px 10px;
    display: block;
  }
}
.heading-wrapper {
  background-color: #35444f;
  position: relative;
  z-index: -1;
}
.heading-wrapper h1 {
  padding: 30px 0;
  z-index: 2;
  margin-bottom: 0;
  margin-top: 0;
}
.heading-wrapper h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 30px;
}
.heading-wrapper .clouds {
  position: absolute;
  height: 200px;
  margin-top: 40px;
  top: 0;
  right: 0;
  z-index: 1;
}

.blue {
  background-color: #2f75bb;
  position: relative;
}
.blue .home-content {
  padding: 40px 0;
}
.blue a {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 100px;
}
.blue .white-triangle {
  position: absolute;
  height: 300px;
  right: 0;
  bottom: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .heading-wrapper .clouds {
    display: none;
  }

  .blue a {
    margin-bottom: 300px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .heading-wrapper .clouds {
    display: none;
  }

  .blue a {
    margin-bottom: 300px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .heading-wrapper h1 {
    max-width: 65%;
  }
  .heading-wrapper .clouds {
    height: 100px;
  }

  .blue a {
    margin-bottom: 150px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
.reg-wrapper {
  max-width: 600px;
  padding: 40px 0;
}
.reg-wrapper .flex {
  justify-content: flex-start;
}
.reg-wrapper h2 {
  margin-left: 30px;
  margin-top: 20px;
}
.reg-wrapper .reg-icon {
  height: 90px;
}

.gform_wrapper .top_label .gfield_label, .gform_wrapper legend.gfield_label {
  color: #fff;
}

.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label, .gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
  color: #fff;
}

.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
  background-color: #2f75bb;
  border: 1px solid #fff;
}

.gfield_consent_label {
  color: #fff;
}

#gform_submit_button_1 {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 100px;
  border: none;
}

footer .flex {
  justify-content: flex-end;
}
footer .footer-logo {
  height: 80px;
  padding: 20px 0 40px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  footer .flex {
    justify-content: center;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  footer .flex {
    justify-content: center;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  footer .flex {
    justify-content: center;
  }
}
/* Medium devices (landscape tablets, 768px and up) */

/*# sourceMappingURL=css.css.map */
