h1 {
    font-size: 60px;
    color: $white;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    color: $white;
    font-weight: 700;
}

h3 {
    color: $white;
    font-size: 22px;
}

p {
    color: $white;
    font-size: 18px;
}