.heading-wrapper {
    background-color: $darkblue;
    position: relative;
    z-index: -1;

    h1 {
        padding: 30px 0;
        z-index: 2;
        margin-bottom: 0;
        margin-top: 0;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 30px;
    }

    .clouds {
        position: absolute;
        height: 200px;
        margin-top: 40px;
        top: 0;
        right: 0;
        z-index: 1;
    }
}

.blue {
    background-color: $blue;
    position: relative;

    .home-content {
        padding: 40px 0;
    }

    a {
        display: inline-block;
        margin: 0 auto;
        @extend %cta;
        margin-bottom: 100px;
    }

    .white-triangle {
        position: absolute;
        height: 300px;
        right: 0;
        bottom: 0;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .heading-wrapper {
        .clouds {
            display: none;
        }
    }

    .blue {
         a {
            margin-bottom: 300px;
        }

        .white-triangle {
            display: none;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) 
and (max-width: 768px) {
    .heading-wrapper {
        .clouds {
            display: none;
        }
    }

    .blue {
         a {
            margin-bottom: 300px;
        }

        .white-triangle {
            display: none;
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
and (max-width: 991px) {
    .heading-wrapper {
        h1 {
            max-width: 65%;
        }

        .clouds {
            height: 100px;
        }
    }

    .blue {
         a {
            margin-bottom: 150px;
        }

        .white-triangle {
            display: none;
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px)
and (max-width: 1200px) {

}